---
import { getTranslations } from "@src/locale/getTranslations";
const locale = Astro.currentLocale;
const t = getTranslations(locale);
---

<style>
  .headerWrapper {
    display: flex;
    position: relative;
    justify-content: flex-end;
  }

  .mainTitle {
    position: absolute;
    text-align: center;
    color: var(--white-color);
    background-color: var(--text-color);
    padding: 80px 0;
    width: 940px;
    margin: auto 0;
    left: 0;
    bottom: -40px;
  }

  .heroImg {
    object-fit: cover;
    object-position: top;
  }

  @media (max-width: 1025px) {
    .mainTitle {
      position: relative;
      width: 100%;
      padding: 40px 0;
    }
  }

  @media (max-width: 600px) {
    .headerWrapper {
      flex-direction: column;
    }

    .mainTitle {
      position: relative;
      width: 100%;
      order: 2;
      bottom: 0;

      padding: 24px 32px;
    }
  }
</style>

<header class="headerWrapper sectionBreak">
  <h1 class="mainTitle">{t.offerPage.pageHeading}</h1>
  <img
    src="/images/offers-hero.avif"
    alt={t.offerPage.headerAltImgText}
    class="heroImg"
  />
</header>
