---
import Button from '@components/Button.astro';
---

<style>
  .contactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
    background-color: var(--primary-color);
  }

  .heading {
    padding-bottom: 24px;
    color: var(--white-color);
  }

  .content {
    padding-bottom: 24px;
    color: var(--white-color);
  }
</style>

<section class="contactSection">
  <h2 class="heading mainTitle">Skontaktuj się z nami</h2>
  <p class="content bigText">Przekonaj się jak sprzęt strażacki od Dexwal zwiększy możliwości ratownicze!</p>
  <Button type="secondary" label="Kontakt" />
</section>
