---
import { getTranslations } from "../../locale/getTranslations";
const locale = Astro.currentLocale;
const t = getTranslations(locale).homepage.modernToolsSection;
import { Image } from "astro:assets";
---

<style>
  .modernToolsSection {
    display: flex;
    gap: 48px;
  }

  .whiteSpace {
    height: 190px;
    background-color: var(--white-color);
    width: 100%;
  }

  .secondaryTitle {
    padding-bottom: 16px;
  }

  .imageContainer img {
    width: 100%;
    height: auto;
    border-bottom-right-radius: 40px;
    object-fit: cover;
  }

  .content {
    flex: 1 1 55%;
    min-width: 300px;
    padding-top: 56px;
  }

  .imgWrapper {
    position: relative;
    bottom: 60px;
  }

  @media (max-width: 1025px) {
    .modernToolsSection {
      display: flex;
      flex-direction: column;
      gap: 0;
    }

    .content {
      padding-top: 0;
      padding: 0 24px;
    }
  }
</style>

<div class="whiteSpace"></div>
<section class="modernToolsSection sectionBreak">
  <div class="imgWrapper">
    <Image
      src="/images/modern-tools.avif"
      alt={t.altPhoto}
      width={620}
      height={480}
    />
  </div>
  <article class="content">
    <h2 class="secondaryTitle">{t.heading}</h2>
    <p class="primaryText">
      {t.text}
    </p>
  </article>
</section>
