---
import { getTranslations } from "@src/locale/getTranslations";
const locale = Astro.currentLocale;
const t = getTranslations(locale);
import ProductSection from "@components/HomePage/ProductSection.astro";
---

<style>
  .secondaryTitle,
  .primaryText {
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .productsSectionWrapper {
    padding: 0 0px;
  }

  @media (max-width: 1200px) {
    .productsSectionWrapper {
      padding: 0;
    }

    .secondaryTitle,
    .primaryText {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
</style>

<section class="sectionBreak productsSectionWrapper">
  <h2 class="secondaryTitle">{t.homepage.heroHeading}</h2>
  <p class="primaryText">
    {t.homepage.heroContent}
  </p>

  <ProductSection maxVisibleByScreen={true} />
</section>
