---
const reasons = [
  {
    number: '1.',
    title: 'Doświadczenie i Kompetencje',
    description:
      'Posiadamy doświadczenie w branży, które pozwala nam zrozumieć doskonale potrzeby i wymagania naszych klientów. Nasz zespół składa się z wykwalifikowanych specjalistów, którzy stale rozwijają swoje umiejętności, by być na bieżąco z najnowszymi rozwiązaniami.',
  },
  {
    number: '2.',
    title: 'Indywidualne Podejście',
    description:
      'Każdy projekt, zlecenie czy współpraca jest dla nas unikalne. Nasza elastyczność pozwala na dostosowanie usług do konkretnych oczekiwań i celów naszych klientów.',
  },
  {
    number: '3.',
    title: 'Jakość Usług',
    description:
      'Jakość to dla nas priorytet. Dążymy do tego, aby nasze usługi były najwyższej jakości, zgodne z najnowszymi standardami branżowymi.',
  },
  {
    number: '4.',
    title: 'Profesjonalizm',
    description:
      'Nasza praca opiera się na etyce, zaufaniu i rzetelności. Stawiamy na transparentność działań, aby nasi klienci mieli pełny wgląd w procesy i wyniki naszej pracy.',
  },
  {
    number: '5.',
    title: 'Ponadczasowe Wartości',
    description:
      'Nasza firma kieruje się ważnymi wartościami, takimi jak bezpieczeństwo, dbałość o środowisko, odpowiedzialność społeczna oraz partnerstwo z klientem.',
  },
];
---

<style>
  .whyUsSection {
    display: flex;
    gap: 48px;
  }

  .imageContainer {
    position: relative;
    min-width: 300px;
  }

  .imageContainer img {
    width: 100%;
    height: auto;
    border-top-right-radius: 40px;
    object-fit: cover;
  }

  .overlayBox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--bg-color);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 70px;
  }

  .overlayBox .highlight {
    --highlight-font-size: 110px;
    color: var(--primary-color);
    font-size: var(--highlight-font-size);
  }

  .experienceText {
    max-width: 106px;
    margin-left: 16px;
  }

  .mainTitle {
    margin-bottom: 40px;
  }

  .secondaryTitle {
    margin-bottom: 16px;
  }

  .content {
    flex: 1 1 55%;
    min-width: 300px;
  }

  .content ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .content li {
    display: flex;
    gap: 24px;
    margin-bottom: 1.5rem;
  }

  .content .number {
    --number-font-size: 90px;
    color: #d52100;
    font-size: var(--number-font-size);
    font-weight: bold;
    flex-shrink: 0;
    margin: auto 0;
  }
</style>

<section class="whyUsSection sectionBreak">
  <div class="imageContainer">
    <img src="/images/hose.avif" alt="hose image" />
    <div class="overlayBox">
      <span class="highlight">+30</span>
      <span class="experienceText secondaryTitle">Lat na rynku</span>
    </div>
  </div>
  <div class="content">
    <h2 class="mainTitle">Dlaczego Nas Wybierają<br />Wiodące Instytucje i Firmy?</h2>

    <ul>
      {
        reasons.map((r) => (
          <li>
            <span class="number">{r.number}</span>
            <div>
              <h3 class="secondaryTitle">{r.title}</h3>
              <p class="primaryText">{r.description}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
