---
const { header, text, photoSrcSet, photoAlt } = Astro.props;
---

<style>
  .productSection {
    display: grid;
    grid-template-columns: 1fr / 1fr;
  }
</style>

<section class="productSection">
  <h2>{header}</h2>
  <div>
    <img srcset={photoSrcSet} alt={photoAlt} />
  </div>
  <div set:html={text} />
</section>
