<style>
  .productSectionWrapper {
    display: flex;
    flex-direction: column;
  }
  }
  .secondarytitle {
    grid-template-columns: 1fr;
    gap: 40px;
    padding-right: 32px;
    padding-left: 32px;
  }
</style>

<main class="productSectionWrapper">
  <slot />
</main>
