---
const { header, text, photoSrcSet, photoAlt } = Astro.props;
---

<style>
  .blankSpace {
    --blanks-section-height: 300px;
    grid-column-start: 1;
    grid-column-end: -1;
    height: var(--blanks-section-height);

    &.white {
      background-color: var(--white-color);
    }

    &.black {
      background-color: var(--black-color);
    }
  }

  .productSection {
    --img-border-radius: 100px;
    --blanks-section-height: 200px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    &:nth-of-type(odd) {
      background-color: var(--text-color);
      color: var(--white-color);

      .firstGridChild {
        order: 1;
        border-bottom-left-radius: var(--img-border-radius);
      }

      &::before {
        content: "";
        grid-column-start: 1;
        grid-column-end: -1;
        height: var(--blanks-section-height);
        background-color: var(--white-color);
      }
    }

    &:nth-of-type(even) {
      background-color: var(--white-color);

      .firstGridChild {
        border-top-right-radius: var(--img-border-radius);
      }

      &::before {
        content: "";
        grid-column-start: 1;
        grid-column-end: -1;
        height: var(--blanks-section-height);
        background-color: var(--text-color);
      }
    }
  }

  .mainTitle {
    padding-bottom: 32px;
  }

  .firstGridChild {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    bottom: 200px;
    max-height: 600px;

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  .secondGridChild {
    padding: 100px 80px;
  }
  @media (max-width: 1025px) {
    .productSection {
      grid-template-columns: 1fr;
      gap: 40px;
      padding-bottom: 68px;
      --blanks-section-height: 32px;
    }

    .secondGridChild {
      padding-right: 32px;
      padding-left: 32px;
      padding-bottom: 32px;
      padding-top: 32px;
    }

    .firstGridChild {
      width: 100%;
      bottom: 0;
      order: -1;
    }
  }
</style>

<section class:list={["productSection"]}>
  <div class="firstGridChild">
    <img srcset={photoSrcSet} alt={photoAlt} />
  </div>
  <div class="secondGridChild">
    <h2 class="mainTitle">{header}</h2>
    <div set:html={text} class="bigText" />
  </div>
</section>
