:root {
  --primary-color: #c92200;
  --black-color: #000;
  --text-color: #1f1f24;
  --other-color: #eeeeee;
  --white-color: #fff;
  --gray-color: #535353;
  --light-gray-color: #F3F3F3;
  --bg-color: #f6f6f6;
  --max-width: 1440px;
  --font-family: "Roboto", "Montserrat", sans-serif;
  --section-break: 100px;
}

/** Reset - start */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
/** Reset - end */

html {
  font-family: var(--font-family);
}

body {
  background-color: var(--bg-color);
  max-width: var(--max-width);
  margin: 0 auto;
  /* width: 100%; */
  line-height: 1.5;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

/** Typography Start */
/** Montserrat */
.mainTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.secondaryTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 26px;
}

.smallTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

/** Roboto */
.bigText {
  font-family: "Roboto", sans-serif;
  line-height: 130%;
  font-size: 22px;
  font-weight: 400;
}

.primaryText {
  font-family: "Roboto", sans-serif;
  line-height: 140%;
  font-size: 18px;
  font-weight: 400;
}

.buttonText {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 130%;
}

.menuText {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 130%;
}

.smallerText {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 130%;
}
/** Typography End */
.sectionBreak {
  margin-bottom: var(--section-break);
}
