---
import { getTranslations } from 'src/locale/getTranslations';
const locale = Astro.currentLocale;
const t = getTranslations(locale).contactPage.contactDetailsSection;

const contactDetails = [
  {
    label: t.address,
    lines: ['ul. Dąbrowska 12', '28-100 Busko-Zdrój'],
  },
  {
    label: t.email,
    lines: ['poczta@dexwal.com'],
  },
  {
    label: t.telephone,
    lines: ['+48 41 378 70 11'],
  },
  {
    label: t.workHours,
    lines: [t.workHoursValue],
  },
];
---

<style>
  .contactDataSection {
    padding: 40px 80px;
  }

  .detailsContainer {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / -1;
  }

  .detailsInfo {
    flex: 1;
  }

  .detailItem {
    display: flex;
    margin-bottom: 8px;
  }

  @media (max-width: 600px) {
    .contactDataSection {
      padding: 32px;
    }
  }
</style>

<section class="contactDataSection">
  <h2 class="secondaryTitle">{t.contactData}</h2>
  <div class="detailsContainer">
    <div class="detailsInfo">
      {
        contactDetails.map((detail) => (
          <div class="detailItem">
            <div>
              {detail.lines.map((line) => (
                <p class="primaryText">{line}</p>
              ))}
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
