---
import ContactForm from '@components/ContactPage/ContactForm.astro';
import { getTranslations } from 'src/locale/getTranslations';
const locale = Astro.currentLocale;
const t = getTranslations(locale).contactPage;
---

<style>
  /* Contact Section */
  .contactSection {
    padding: 24px 80px;
    background-color: var(--white-color);
  }

  .contactContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  /* Contact Details */
  .contactDetails {
    margin-top: 40px;
  }

  .contactDetails h2 {
    margin-bottom: 16px;
  }

  /* Contact Image */
  .contactImage {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    max-width: 622px;
    max-height: 1000px;
    padding-left: 30px;
  }

  .contactImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 40px;
  }

  @media (max-width: 1200px) {
    .contactImage {
      position: relative;
      right: -80px;
      top: -24px;
      padding-left: 0;
    }
  }

  @media (max-width: 1025px) {
    .contactImage {
      display: none;
    }

    .contactContent {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  @media (max-width: 600px) {
    .contactSection {
      padding: 32px;
    }
  }
</style>

<div class="contactSection">
  <div class="contactContent">
    <div class="contactDetails">
      <ContactForm />
    </div>

    <div class="contactImage">
      <img src="/images/contact-hero.avif" alt={t.photoAltText} />
    </div>
  </div>
</div>
