---
import { getTranslations } from "@src/locale/getTranslations";
const locale = Astro.currentLocale;
const t = getTranslations(locale);
---

<style>
  .contactHeader {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding: 80px;
    background-color: var(--text-color);
  }

  .contactHeader h1 {
    color: var(--white-color);
    padding-bottom: 8px;
  }

  .contactHeader p {
    color: var(--white-color);
  }
</style>

<header class="contactHeader">
  <div>
    <h1 class="mainTitle">{t.contactPage.headerHeading}</h1>
    <p class="primaryText">
      {t.contactPage.headerText}
    </p>
  </div>
  <div></div>
</header>
