<style>
  /* Map Section */
  .mapSection {
    width: 100%;
    height: 450px;
  }

  .mapContainer {
    width: 100%;
    height: 100%;
  }
</style>

<section class="mapSection">
  <div class="mapContainer">
    <iframe
      width="100%"
      height="450"
      frameborder="0"
      scrolling="no"
      marginheight="0"
      marginwidth="0"
      src="https://maps.google.com/maps?width=100%25&height=600&hl=en&q=28-100,%20Dobrowoda%2012%20%20+(Dexwal)&t=&z=14&ie=UTF8&iwloc=B&output=embed"
    >
    </iframe>
  </div>
</section>
