---
import ContactUsSection from "@components/ContactUsSection.astro";
import ProductsWrapper from "@components/AboutPage/ProductsWrapper.astro";
import Layout from "@layouts/Layout.astro";
import { getTranslations } from "@src/locale/getTranslations";
import MiddleSection from "@src/components/AboutPage/MiddleSection.astro";
import HeroSection from "@src/components/AboutPage/HeroSection.astro";
import KeyAspectsSection from "@src/components/AboutPage/KeyAspectsSection.astro";
const locale = Astro.currentLocale;
const t = getTranslations(locale).aboutUsPage;
const pageTitle = t.pageTitle;
---

<Layout pageTitle={pageTitle}>
  <main>
    <HeroSection />

    <MiddleSection />

    <KeyAspectsSection />

    <ContactUsSection />

    <ProductsWrapper />
  </main>
</Layout>
