---
import ContactUsSection from '@components/HomePage/ContactUsSection.astro';
import HeroSection from '@components/HomePage/HeroSection.astro';
import ModernToolsSection from '@components/HomePage/ModernToolsSection.astro';
import ProductSection from '@components/HomePage/ProductSection.astro';
import WhyUsSection from '@components/HomePage/WhyUsSection.astro';
import Layout from '../layouts/Layout.astro';
const pageTitle = 'Strona Główna';
---

<Layout pageTitle={pageTitle} language="pl">
  <HeroSection />

  <section class="sectionBreak">
    <h2 class="secondaryTitle">Sprzęt strażacki w naszej ofercie</h2>
    <p class="primaryText">
      W Dexwal tworzymy nie tylko sprzęt, ale bezpieczne i efektywne rozwiązania, które wspierają zarówno Ochotnicze,
      jak i Państwowe Straże Pożarne w ich codziennych działaniach.
    </p>

    <ProductSection />
  </section>

  <WhyUsSection />
  <ContactUsSection />
  <ModernToolsSection />
</Layout>
