---
import ContactUsSection from "@components/HomePage/ContactUsSection.astro";
import HeroSection from "@components/HomePage/HeroSection.astro";
import ModernToolsSection from "@components/HomePage/ModernToolsSection.astro";
import ProductSection from "@components/HomePage/ProductSection.astro";
import WhyUsSection from "@components/HomePage/WhyUsSection.astro";
import Layout from "../layouts/Layout.astro";

import { getTranslations } from "../locale/getTranslations";
const locale = Astro.currentLocale;
const t = getTranslations(locale);
const pageTitle = t.homepage.pageTitle;
---

<Layout pageTitle={pageTitle} language="pl">
  <HeroSection />

  <section class="sectionBreak">
    <h2 class="secondaryTitle">{t.homepage.heroHeading}</h2>
    <p class="primaryText">
      {t.homepage.heroContent}
    </p>

    <ProductSection />
  </section>

  <WhyUsSection />
  <ContactUsSection />
  <ModernToolsSection />
</Layout>
