---
const { label, type } = Astro.props;
---

<style>
  .button {
    color: var(--white-color);
    padding: 6px 32px;
    border-radius: 5px;
    transition: opacity 0.2s ease;
    border: 1px solid var(--primary-color);
  }

  .button:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  .primary {
    background-color: var(--primary-color);
  }

  .secondary {
    background-color: var(--white-color);
    color: var(--primary-color);
  }

  .outline {
    color: var(--black-color);
    border: 1px solid var(--black-color);
    background-color: transparent;
  }

  @media (max-width: 600px) {
    .button {
      padding: 16px 40px;
    }
  }
</style>

<button class:list={[`button buttonText ${type}`]} type="submit">{label}</button>
