---
import Button from '@components/Button.astro';
const { classes } = Astro.props;
import { getRelativeLocaleUrl } from 'astro:i18n';
import { getTranslations } from 'src/locale/getTranslations';
const locale = Astro.currentLocale;
const t = getTranslations(locale).components.contactUsSection;
---

<style>
  .contactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 24px;
    background-color: var(--primary-color);
    margin-top: -1px;
  }

  .heading {
    padding-bottom: 24px;
    color: var(--white-color);
  }

  .content {
    padding-bottom: 24px;
    color: var(--white-color);
  }
</style>

<section class:list={['contactSection', classes]}>
  <h2 class="heading mainTitle">{t.heading}</h2>
  <p class="content bigText">
    {t.text}
  </p>
  <a href={getRelativeLocaleUrl(locale ?? '', '/contact')}><Button type="secondary" label={t.button} /></a>
</section>
