---
import Hamburger from './Hamburger.astro';
import Navigation from './Navigation.astro';
import Logo from '@assets/dexwal-logo.svg';
---

<header class="app-header">
  <a href="/"><img src={Logo.src} alt="Dexwal Logo" /></a>
  <nav>
    <Hamburger />
    <Navigation />
  </nav>
</header>

<style>
  .app-header {
    --header-x-padding: 80px;
    --header-y-padding: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--header-y-padding) var(--header-x-padding);
  }
</style>
