---
import Link from './Link.astro';
import Button from './Button.astro';
import LanguageSwitcher from './LanguageSwitcher.astro';

const navLinks = [
  { label: 'Strona główna', href: '/' },
  { label: 'Oferta', href: '/offer' },
  { label: 'O Firmie', href: '/about' },
];
---

<style>
  .nav-links {
    --nav-links-spacing: 35px;
    *:not(:last-child) {
      margin-right: var(--nav-links-spacing);
    }

    a:last-of-type {
      font-weight: 700;
    }
  }
</style>

<div class="nav-links">
  {navLinks.map((link) => <Link href={link.href} label={link.label} />)}
  <LanguageSwitcher />
  <Link href="/contact" label="Kontakt" />
</div>
