---
import Link from "./Link.astro";
import LanguageSwitcher from "./LanguageSwitcher.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

import { getTranslations } from "../locale/getTranslations";
const locale = Astro.currentLocale ?? "";
const t = getTranslations(locale).components.navigation;

const navLinks = [
  { label: t.homepage, href: getRelativeLocaleUrl(locale, "/") },
  { label: t.offer, href: getRelativeLocaleUrl(locale, "/offer") },
  { label: t.aboutUs, href: getRelativeLocaleUrl(locale, "/about") },
];
---

<style>
  .nav-links {
    --nav-links-spacing: 35px;
    *:not(:last-child) {
      margin-right: var(--nav-links-spacing);
    }

    a:last-of-type {
      font-weight: 700;
    }
  }
</style>

<div class="nav-links">
  {navLinks.map((link) => <Link href={link.href} label={link.label} />)}
  <LanguageSwitcher />
  <Link href={getRelativeLocaleUrl(locale, "/contact")} label={t.contact} />
</div>
