---
import { getRelativeLocaleUrl } from "astro:i18n";
const { productId, image, title } = Astro.props;
const locale = Astro.currentLocale ?? "";
---

<style>
  .product {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;

    text-decoration: none;
    color: var(--text-color);
    flex: 0 1 calc(30%); /* Adjust width as needed */

    img {
      max-width: 100%;
      height: auto;
      margin: auto 0;
    }
  }

  .smallTitle {
    /* margin-top: auto; */
    justify-self: flex-end;
    padding-top: 16px;
  }
</style>

<a
  class="product"
  href={getRelativeLocaleUrl(locale, `/products/${productId}`)}
>
  <img srcset={image} alt={title} />
  <p class="smallTitle">{title}</p>
</a>
