---
import ContactUsSection from '@components/ContactUsSection.astro';
import HeroSection from '@components/HomePage/HeroSection.astro';
import ModernToolsSection from '@components/HomePage/ModernToolsSection.astro';
import ProductSection from '@components/HomePage/ProductSection.astro';
import WhyUsSection from '@components/HomePage/WhyUsSection.astro';
import Layout from '@layouts/Layout.astro';
import { AppLangEnum } from '@src/lib/types';

export async function getStaticPaths() {
  const supportedLocales = Object.values(AppLangEnum).map((l) => l);
  return supportedLocales.map((lang) => ({
    params: { lang },
  }));
}

import { getTranslations } from '@src/locale/getTranslations';
const locale = Astro.currentLocale;
const t = getTranslations(locale);
const pageTitle = t.homepage.pageTitle;
---

<style>
  .secondaryTitle {
    padding-bottom: 16px;
  }

  .productsSectionWrapper {
    padding: 0 80px;
  }

  @media (max-width: 1200px) {
    .productsSectionWrapper {
      padding: 0 24px;
    }
  }

  @media (max-width: 600px) {
    .productsSectionWrapper {
      padding: 0 24px;
    }
  }
</style>

<Layout pageTitle={pageTitle} language="pl">
  <HeroSection />

  <section class="sectionBreak productsSectionWrapper">
    <h2 class="secondaryTitle">{t.homepage.heroHeading}</h2>
    <p class="primaryText">
      {t.homepage.heroContent}
    </p>

    <ProductSection />
  </section>

  <WhyUsSection />
  <ContactUsSection />
  <ModernToolsSection />
</Layout>
