---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
const { language, pageTitle } = Astro.props;
import '../styles/global.css';
---

<!doctype html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="Dexwal" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
