---
import { getTranslations } from "@src/locale/getTranslations";
import ProductSection from "../HomePage/ProductSection.astro";
const locale = Astro.currentLocale;
const t = getTranslations(locale).aboutUsPage;
---

<style>
  @media (max-width: 1025px) {
    .ProductSection {
      padding: 40px 32px;
    }
  }
</style>
<section class="products ProductSection sectionBreak">
  <ProductSection
    sectionLabel={t.productSectionHeading}
    linkProducts={true}
    maxVisibleByScreen={true}
  />
</section>
